@import "tailwindcss";







/* Adicionando classes personalizadas do Tailwind */
html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
} 

.dark body,.dark {
  background-color: #f9f9f9;
  color: #333;
}

#header-hover{
  background-color: white
}

.dark #header-hover{
  background-color: #333
}

/* index.css */
.skill-button {
  @apply px-6 py-2 rounded border transition-all duration-300;
}

.skill-button-active {
  background-color: white;
  color: black;
}

.dark .skill-button-active {
  background-color: black;
  color: white;
}






.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right-width: 2px;
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
}

.typing-effect.finished {
  animation: none;
  border-right: none;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}



